:root {
    --azul: #4054b2;
    --azul-piscina: #0085b6;
    --azul-hover: #6ec1e4;
    --branco: white;
    --dourado: gold;
    --cinza-claro: #f0f0f0;
    --cinza-menos-claro: #e7e7e7;
    --cinza: grey;
    --alerta: rgb(155, 31, 31);
}

.ea-autocomplete-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
}

.ea-autocomplete-form input::placeholder {
    color: var(--azul-hover);
}

.ea-autocomplete-form input {
    background-color: var(--branco);
    color: var(--azul);
    border: solid 1px var(--cinza-claro) !important;
    border-radius: 0 !important;
    padding: 8px 16px !important;
    font-size: 14px;
}

.ea-autocomplete-form input:focus {
    outline: none;
}

.ea-autocomplete-form button {
    padding: 8px 16px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: var(--azul);
    color: var(--branco);
    border-radius: 5px;
    border: none;
    &:disabled {
        background-color: var(--cinza);
        cursor: not-allowed;
        &:hover {
            background-color: var(--cinza);
        }
    }
}

.ea-autocomplete-form button:hover,
.ea-autocomplete-form button:focus {
    background-color: var(--azul-hover);
    color: var(--branco);
    outline: none;
}

.autocomplete-message {
    display: none;
    font-size: 0.75em;
    color: var(--alerta);
}
#map {
    width: 100%;
    height: 80vh;
}

.listagem-wrapper {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    gap: 20px;
}

.listagem-wrapper .listagem-col {
    flex: 1 0 0;
    max-width: 100%;
    position: relative;
}

#left-col {
    order: 2;
}

#right-col {
    order: 1;
}

#lista-dentistas .lista-dentistas-filtros {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#lista-dentistas .lista-dentistas-filtros input::placeholder {
    color: var(--azul-hover);
}

#lista-dentistas .lista-dentistas-filtros input {
    background-color: var(--branco);
    color: var(--azul);
    border: solid 1px var(--cinza-claro) !important;
    border-radius: 0 !important;
    padding: 8px 16px !important;
    font-size: 14px;
}

#lista-dentistas .lista-dentistas-filtros input:focus {
    outline: none;
}

#listagem-items {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 20px;
    max-height: 50vh;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin-block: 10px;
    padding-right: 10px;
}

#listagem-items li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    padding: 15px;
    background-color: var(--cinza-menos-claro);
    border-radius: 5px;
}
#listagem-items li .icon-destaque {
    display: block;
    background: url(../images/icons8-star-48.png) no-repeat center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

#listagem-items li h3 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-size: 18px;
    margin: 0;
    color: var(--azul);
    text-transform: uppercase;
}
#listagem-items li .endereco_completo {
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
}

#listagem-items .contatos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    list-style: none;
    padding: 0;
}

#listagem-items .contatos li {
    padding: 0;
}
#listagem-items .link-telefone {
    color: var(--azul);
    text-decoration: none;
}
#listagem-items .link-telefone:hover {
    color: var(--azul-hover);
    text-decoration: none;
}
#listagem-items .listagem-item-btn {
    padding: 4px 16px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: var(--azul);
    color: var(--branco);
    border-radius: 15px;
    border: none;
}
#listagem-items .listagem-item-btn:hover,
#listagem-items .listagem-item-btn:focus {
    background-color: var(--azul-hover);
    color: var(--branco);
    outline: none;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 5px;
    flex-wrap: wrap;
    padding: 0;
}
.pagination .page {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0.35em 0.75em;
    cursor: pointer;
    border-radius: 0.2em;
}
.pagination .page:hover,
.pagination .active .page {
    color: var(--branco) !important;
    background: var(--azul-piscina);
}

.pagination .disabled .page,
.pagination .disabled .page:hover {
    background: transparent;
    cursor: not-allowed;
    color: inherit;
}

@media (min-width: 1024px) {
    .listagem-wrapper {
        display: flex;
        width: 100%;
        margin: 0 auto;
        flex-direction: row;
        gap: 20px;
    }

    .listagem-wrapper .listagem-col {
        flex: 1 0 0;
        max-width: 50%;
    }

    #map {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-height: none;
        height: auto;
    }

    .pagination .page {
        flex: 14px;
    }

    #listagem-items {
        max-height: 80vh;
    }

    #left-col {
        order: 1;
    }

    #right-col {
        order: 2;
    }
}
